<!-- BEGIN: EDT -->
<form method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Category Name</td>
            <td>
                <input type="text" value='{EDT.cat_name}' name='txtCatName'>
                <span id='mesError' style="color:red">{mess_proName}</span>
            </td>
        </tr>
        <tr>
            <td>
                <button>Save</button>
            <td><input type="reset" value='Reset'></td>
            </td>
        </tr>
    </table>
</form>
<!-- END: EDT -->