<!-- BEGIN: ADD -->
    <form method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>User</td>
                <td>
                    <input type="text" name='txtUser'  value='{ADD.user_name}'>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name='txtPwd'>
                </td>
            </tr>
            <tr>
                <td>
                    <button>Save</button>
                    <td><input type="reset" value='Reset'></td>
                </td>
            </tr>
        </table>
    </form>
<!-- END: ADD -->